CONNECTION_STRING_DB=database_url

BNR_URL=https://curs.bnr.ro/nbrfxrates.xml
BASE_PAGE_URL=https://www.web-scraping.dev
LOGIN_URL=https://www.web-scraping.dev/login

SCRAPER_USERNAME=your_username
SCRAPER_PASSWORD=your_password